.about-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
    font-weight: 700;
}

.about-text {
    display: flex;
    flex-direction: column;
    margin: -5rem 4rem 0 6rem;
}

.about-text p {
    font-size: 32px;
}

.astronaut {
    margin-top: 2rem;
    width: 80%;
}

@media screen and (max-width: 800px) {
    .about-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        margin: 0;
        padding: 2rem 3rem 2rem 3rem;
    }

    .about-text p {
      font-size: 18px;
    }

    .astronaut {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 0;
        width: 80%;
        order: -1;
    }
}