.home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    color: #00275E;
    font-weight: 700;
}

.home-text {
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 6rem;
}

.home-text p {
    font-size: 32px;
}

.home-btn {
    width: 5rem;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #FFAE46;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #00275E;
    transition: 0.4s;
}

.home-btn:hover {
    background-color: #EB773A;
    transition: 0.4s;
}

.rocket {
    margin-top: 2rem;
    width: 80%;
}