.home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);;
    font-weight: 700;
}

.home-text {
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 6rem;
}

.home-text p {
    font-size: 32px;
}

.home-btn {
    width: 5rem;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: var(--yellow);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--dark-blue);
    transition: 0.4s;
}

.home-btn:hover {
    background-color: var(--orange);
    transition: 0.4s;
}

.rocket {
    margin-top: 2rem;
    width: 80%;
}

@media screen and (max-width: 800px) {
    .home-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .home-text {
        padding: 2rem 3rem 2rem 3rem;
    }

    .home-text p {
      font-size: 18px;
    }
    .home-btn {
        align-self: center;
    }

    .rocket {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 0;
        width: 80%;
        order: -1;
    }
  }